<section class="my-5 mx-5">
    <h1>PelisUP!</h1>
    <h3>Plataforma para ver películas y series 😉</h3>
</section>
<section class="my-3 mx-5">
    <div class="mb-2 input-group">
        <span class="input-group-text" id="inputGroupPrepend">
            <i class="bi bi-search"></i>
        </span>
        <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Buscar películas y series">
    </div>
</section>
<section class="my-5 mx-5">
    <div class="btn-group">
        <label class="btn btn-primary"
               btnCheckbox tabindex="0" role="button">Todos</label>
        <label class="btn btn-primary"
               btnCheckbox tabindex="0" role="button">Películas</label>
        <label class="btn btn-primary"
               btnCheckbox tabindex="0" role="button">Series</label>
      </div>
</section>
<section class="my-5 mx-5">
    <h2>Todos</h2>
    <app-movie-card></app-movie-card>
</section>