<section class="my-5 mx-5">
    <h1>PelisUP!</h1>
    <h3>Plataforma para ver películas y series 😉</h3>
</section>
<section class="my-3 mx-5">
    <div class="mb-2 input-group">
        <span class="input-group-text" id="inputGroupPrepend">
            <i class="bi bi-search"></i>
        </span>
        <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Buscar películas y series">
    </div>
</section>
<section class="my-5 mx-5">
    <div class="btn-group">
        <button class="btn btn-primary" [ngClass]="filter === 'Todos' ? 'btn-selected' : ''" 
                role="button" (click)="changeFilter('Todos')" >Todos</button>

        <button class="btn btn-primary" [ngClass]="filter === 'Peliculas' ? 'btn-selected' : ''"
                role="button" (click)="changeFilter('Peliculas')">Películas</button>

        <button class="btn btn-primary" [ngClass]="filter === 'Series' ? 'btn-selected' : ''"
                role="button" (click)="changeFilter('Series')">Series</button>
      </div>
</section>
<section class="my-5 mx-5">
    <h2>Todos</h2>
    <!-- <app-movie-card></app-movie-card> -->
    <div class="container">
        <div class="row">
            <div class="card col-4 m-2" *ngFor="let movie of movies_series" style="width: 18rem;">
                <div *ngIf="movie.category === 'Movie' && filter === 'Peliculas'">
                    <img [src]="movie.image" class="card-img-top" [alt]="movie.name">
                    <div class="card-body">
                        <h2>{{movie.name}}</h2>
                      <p class="card-text">{{ movie.description }}</p>
                      <p class="card-text">RATING: {{movie.rating}}</p>
                    </div>
                </div>
                <div *ngIf="movie.category === 'Serie' && filter === 'Series'">
                    <img [src]="movie.image" class="card-img-top" [alt]="movie.name">
                    <div class="card-body">
                        <h2>{{movie.name}}</h2>
                      <p class="card-text">{{ movie.description }}</p>
                      <p class="card-text">RATING: {{movie.rating}}</p>
                    </div>
                </div>
                <div *ngIf="filter === 'Todos'">
                    <img [src]="movie.image" class="card-img-top" [alt]="movie.name">
                    <div class="card-body">
                        <h2>{{movie.name}}</h2>
                      <p class="card-text">{{ movie.description }}</p>
                      <p class="card-text">RATING: {{movie.rating}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>